.projects-container{
    justify-content: center;
}

.projects-container h2{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
hr{ 
    width: 80%;
    margin: auto;
}
.project1{
    margin-top: 15px;
}