.resume-container{
    padding-bottom:20px;
    width: 80%;
    margin: auto;
}
.resume-container br{
    border: 1px solid black;
}
.resume-container h2{
    padding-top: 20px;
    text-align: center;
}
.resume-container h4, h2{
    padding-top:0px;
}
.side-bar{
    width: 40%;
    padding-left: 30px;
}
.school{
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
}
.school h4{
    padding:0px;
}